body{
	background: #000;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

#canvas{
	background: #999;
	margin: auto;
	width: 100%;
	height: 100vh;
}